.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
.changeBg:hover{
    background-color: gray;
    z-index: 2;
    color: white;
}
.img-profile img {
    object-fit: none;
    object-position: center;
    width: 100%;
    max-height: 100px;
    margin-bottom: 1rem;
}